.button {
	width: 200px;
	height: 50px;
	border-radius: 50px;
	background-color: $gold;
	color: #232323;
	font-size: 24px;
	font-weight: 400;
	box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.25);
	border: none;
}